@tailwind base;
@tailwind components;
@tailwind utilities;


.border1 {
    border: 1px solid black;
}

.border2 {
    border: 1px solid red;
}

.border3 {
    border: 2px solid blue;
}

.effect-pencil:hover {
    color: '#f59e0b';
    background-color: '#f3f4f6';
}